// $number: 10px 20px 35px 15px;
// min $(number)

@function pow($value) {
	$value: $value * $value +px;
	@return $value
}

.box {
    width: pow(10);
    // height: max(10px, 20px, 35px, 15px);
    height: min(10px, 20px, 35px, 15px);
}
